body {
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar styles */
.navbar {
    background-color: #ffcd9f; /* Solid background color */
    position: sticky;
    top: 0;
    padding: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 4rem!important;
    margin-left: 4.5rem!important;
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    z-index: 100; /* Ensures it stays on top */
}

.nav-right {
    margin-left: auto;
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-brand {
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
    transition: transform 0.3s ease;
    font-family: 'Philosopher', sans-serif;
}

.navbar-brand:hover {
    transform: scale(1.2);
    color: #e06b6b;
}

.nav-link {
    color: black;
    font-size: 1.1rem;
    font-family: 'Philosopher', sans-serif;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
    padding: 0 10px;
}

.cart-shopping{
    margin-right: 1rem;
}

.nav-link:hover {
    color: #e06b6b;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: transparent;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 15px rgba(255, 159, 128, 0.8);
}

.nav-link:hover::after {
    background: rgba(243, 187, 183, 1);
    width: 100%;
    box-shadow: 0 0 20px rgba(243, 187, 183, 1);
}

.nav-btn {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: black;
    text-decoration: none;
    position: relative;
    padding: 0 10px;
}

.nav-btn:hover {
    color: #e06b6b;
}

.nav-btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #ffb6c1;
    transition: all 0.3s ease-in-out;
}

.nav-btn:hover::after {
    background: rgba(255, 159, 128, 1);
    width: 100%;
    box-shadow: 0 0 25px rgba(255, 159, 128, 0.8);
}

.nav-link:hover,
.nav-btn:hover {
    color: #d2691e !important;
}

.dropdown-menu {
    background-color: #ffe5e5;
    border: none;
}

.dropdown-item {
    font-family: 'Philosopher', sans-serif;
}

.dropdown-item:hover {
    background-color: #f0c0a0;
    color: #d2691e;
}

.nav-right a, .nav-right button {
    padding: 0 15px;
}

.nav-right .cart-btn {
    font-size: 1.2rem;
    position: relative;
}

.cart-btn:hover {
    color: #e06b6b;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navbar-brand {
        margin-left: 10px;
        font-size: 1.5rem;
    }

    .navbar-nav {
        text-align: center;
    }

    .nav-item {
        margin-bottom: 1rem;
    }

    .nav-right {
        gap: 10px;
    }
}
