@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #e13838;
  --input-bg: #ffe6e9; 
  --input-border: #ff8ca1; 
  --btn-color: #be367a; 
  --hover-color: #e75480; 
  --btn-text-color: #ffffff; 
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background: linear-gradient(135deg, #ffb6c1, #ff69b4); 
  background-size: cover;
  background-attachment: fixed;
}

.main-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login, .right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 60%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
  background-color: #ffe6e9; 
}

.card-login h1 {
  font-size: 2rem;
  color: #e13838; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.textfield > input {
  width: 100%;
  padding: 15px;
  background-color: var(--input-bg);
  border: 2px solid transparent;
  transition: border 0.3s ease;
  font-size: 1rem;
  color: #333;
}

.textfield > input:focus {
  border-color: var(--input-border);
}

.btn-login, #google-login {
  padding: 16px;
  margin: 10px 0;
  background-color: var(--btn-color); 
  color: var(--btn-text-color);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
  letter-spacing: 1.5px; 
}

.btn-login:hover, #google-login:hover {
  background-color: var(--hover-color); 
  box-shadow: 0px 15px 45px -10px #630c06; 
  transform: scale(1.03); 
}

.btn-login:focus, #google-login:focus {
  outline: 2px solid var(--hover-color); /* Add focus outline */
  outline-offset: 3px;
}

/* Responsive design for smaller screens */
@media only screen and (max-width: 600px) {
  .main-login {
    flex-direction: column;
  }
  
  .card-login {
    width: 90%;
  }
}